<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>学信网</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="../js/date-picker-config.js"></script>
    <script type="text/javascript" src="../js/jquery-validate.js"></script>
    <link href='../css/common2014.css' rel="stylesheet" type="text/css"/>
    <link href='../css/index.css' rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        input, select {
            border: 1px solid #999;
            height: 28px;
            width: 150px;
            padding-left: 3px;
        }

        .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
            width: 75px;
        }
        .border-none{
            border: none;
        }
    </style>
</head>

<body>
<div class="main clearfix">
    <div class="" id="rightCnt" style="margin: 60px auto; ">
        <div class="m_cnt_l" style="width:1000px;">
           <div id="resultTable" class="clearfix">
                    <div class="tableTitle">填写</div>
                    <div class="div3" style="width:900px;">
                        <div id="fixedPart">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="53" class="title1" width="53">姓名</td>
                                    <td colspan="3">
                                        <img src="" alt="" class="js-nameImg-name" width="478" height="43">
                                        <br>
                                        <button type="button" data-img="nameImg" class="js-upload-img">上传姓名照片
                                        </button>
                                        <input class="js-submit-info" name="name" placeholder="姓名">
                                        <input class="hide js-upload js-submit-info" type="file" data-imgsrc="" name="nameImg">
                                        <!--隐藏id 编辑用-->
                                        <input type="hidden" name="data-id" class="">
                                    </td>
                                    <td rowspan="3" width="93">
                                        <img src="" alt="" class="js-portrait-name" width="84.0" height="112.0">
                                        <button type="button" data-img="portrait" class="js-upload-img">上传头像
                                        </button>
                                        <input class="hide js-upload js-submit-info" type="file"  data-imgsrc="" name="portrait">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title1" width="53">性别</td>
                                    <td width="126">
                                        <select name="gender" class="js-submit-info">
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>
                                    </td>
                                    <td width="83" class="title1" width="53">证书编号</td>
                                    <td width="267">
                                        <input type="text" name="cardNo" class="js-submit-info">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title1" width="53">出生日期</td>
                                    <td>
                                        <input class="date-picker js-submit-info" type="text" name="birthday"
                                               placeholder="">
                                    </td>
                                    <td class="title1">形式</td>
                                    <td width="126">
                                        <input type="text" name="learnType" value="普通全日制" class="js-submit-info">
                                    </td>

                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="53" class="title1">
                                        院校
                                    </td>
                                    <td colspan="3">
                                        <input type="text" name="school" class="js-submit-info">
                                    </td>
                                    <td width="56" class="title1">层次</td>
                                    <td width="173">
                                        <input type="text" name="educationLevel" value="本科" class="js-submit-info">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title1">专业</td>
                                    <td colspan="3">
                                        <input type="text" name="major" class="js-submit-info">
                                    </td>
                                    <td width="83" class="title1">入学时间</td>
                                    <td width="130">
                                        <input class="date-picker js-submit-info" type="text" name="joinTime"
                                               placeholder="">
                                    </td>
                                </tr>
                                <tr>

                                </tr>
                                <tr>
                                    <td class="title1">类型</td>
                                    <td>
                                        <input type="text" name="educationType" value="普通" class="js-submit-info">
                                    </td>
                                    <td class="title1">毕业日期</td>
                                    <td>
                                        <input class="date-picker js-submit-info" type="text"
                                                        name="graduationTime">
                                    </td>
                                    <td class="title1">院校所在地</td>
                                    <td>
                                        <input class="js-submit-info" type="text" name="schoolAddr">
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div id="erWeiPart">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
                                <tr>
                                    <td width="53" rowspan="3" class="title1">二<br/>
                                        维<br/>
                                        验<br/>
                                        证<br/>
                                        码
                                    </td>
                                    <td width="334" rowspan="3">

                                    </td>
                                    <td width="104" class="title1">在线验证码</td>
                                    <td width="132">
                                        <input class="border-none" type="text" name="verifyNo" readonly placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title2">报告日期</td>
                                    <td>
                                        <input type="text" class="date-picker js-submit-info" name="createTime"
                                               placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title2">验证期至</td>
                                    <td>
                                        <input type="text" class="date-picker js-submit-info" name="verifyTime" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="" colspan="4">
                                        <button type="button" class="submit-btn">
                                            提交
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="modal fade hide">
</div>
<script src="../js/edit.js"></script>

</body>
</html>
